// -- FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



$white: #ffffff;
$black: #000000;
$border-menu: #D3DBF1;

$chat: #7B20A3;
$present: #3D197D;
$public: #6F2194;
$question: #1665C1;
$video: #FF0000;
$poll: #FF5E00;
$download: #03A9F5;
$notif: #FF0000;
$refresh: #1FBE70;
$exit: #D80631;
$logout: #FF5DA8;

$grey: #F2F4F8;
$grey2: #ADB5BD;
$grey3: #f7f7f7;
$grey4: #707070;
$grey5: #B8B8B8;
$grey-text: #666666;

$font-fm-base: 'Roboto',  sans-serif;