body {
	font-family: $font-fm-base;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.mr-2 {
  margin-right: .5rem;
}
.ml-2 {
  margin-left: .5rem;
}
.material-icons, .material-icons-outlined {
  vertical-align: middle;
}
// bg
.bg-warning {
  background-color: $warning;
}

// text
.text-warning {
  color: $warning;
}
.text-success {
  color: $success;
}
.text-primary {
  color: $primary;
}
.text-danger {
  color: $danger;
}
.user-list {
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      position: relative;
      border-bottom: 1px solid $border-menu;
      padding: 10px 10px 10px 48px;
      .avatar {
        position: absolute;
        top: 12px;
        left: 10px;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey2;
        span {
          color: $white;
          font-size: 24px;
        }
      }
      .user-info {
        h5 {
          margin-bottom: 0;
          font-size: 14px;
          color: $grey4;
          line-height: 14px;
          font-weight: 500;
        }
        span {
          font-size: 12px;
          line-height: 12px;
          color: $grey5;
        }
      }
    }
  }
  &.seek {
    ul {
      li {
        &:last-child {
          border-bottom: 0;
        }
        .user-info {
          h5 {
            color: $black;
          }
          span {
           color: $grey-text;
          }
        }
      }
    }
  }
}

.speaker-wrapper {
  width: 100%;
  max-width: 300px;
  border-bottom: 1px solid $border-menu;
  padding: 8px 0 8px 90px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  &:last-child {
    margin-right: 0;
  }
  .pict {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    img {
      max-width: 100%;
    }
  }
  .desc {
    padding: 10px 0;
    h5 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 0;
      color: $black;
    }
    span {
      font-size: 16px;
      color: $grey-text;
    }
  }
}