.seek-box {
  min-height: 97px;
  .seek-title {
    background-color: $grey2;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 4px;
  }
  .seek-value {
    background-color: $grey;
    padding: 0px 15px;
    border: 1px solid $border-menu;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
  }
  &.show {
    .seek-title {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .seek-value {
      display: block;
    }
  }
  &.mover {
    .seek-title {
      background-color: $primary;
    }
  }
  &.seconder {
    .seek-title {
      background-color: $warning;
    }
  }
}
.reset-button {
  display: none;
  &.show {
    display: inline-block;
  }
}
.download-wrapper {
  a {
    font-weight: 500;
  }
}