// buttons
$btn-padding-y: 5px;
$btn-padding-x: 24px;
$btn-border-radius: 3px;
//type
$headings-color: #000000;
$theme-colors: (
  "primary": #005E99,
  "secondary": #ADB5BD,
  "warning": #FFC329,
  "info": #0087CD,
  "danger": #D50000,
  "success": #06C671
);

$primary: #005E99;
$warning: #FFC329;
$success: #06C671;
$danger: #D50000;
// Option B: Include parts of Bootstrap

// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Optional
@import "./node_modules/bootstrap/scss/bootstrap-reboot";
@import "./node_modules/bootstrap/scss/bootstrap-utilities";
@import "./node_modules/bootstrap/scss/bootstrap-grid";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/progress";
@import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/nav";
@import "./node_modules/bootstrap/scss/badge";

// icons
@import "icons/icomoon.scss";

// pages
@import "mymixin";
@import "myvariables";
@import "components/wrapper";
@import "components/header";
@import "components/sidebar";
@import "components/tabs";
@import "components/button";
@import "components/progress";
@import "global";
@import "index";
