{% block content %}
<div class="header">
  {% if page_id == 'Home' %}
  <div class="logo">
  {% else %}
  <div class="logo w-sm">
  {% endif %}
    <img src="./dist/images/logo.png" alt="logo" />
  </div>
  <div class="menu">
    <ul class="menu-list">
      
      {% if page_id == 'Home' %}
      {% else %}
      <li class="btn-wrapp">
        <a href="#" class="btn btn-primary js-imoved">I Move</a>
        <a href="#" class="btn btn-secondary js-isecond">I Second</a>
      </li>
      {% endif %}
      
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon present">
            <i class="material-icons">slideshow</i>
          </span>
          <span class="text">Presentation Manager</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon present">
            <i class="material-icons-outlined">forum</i>
          </span>
          <span class="text">Chat</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon video">
            <i class="icon-video-manager"></i>
          </span>
          <span class="text">Video Clip Manager</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon question">
            <i class="material-icons-outlined">
              pan_tool
            </i>
          </span>
          <span class="text">Ask A Question</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon question">
            <i class="material-icons-outlined">
              pan_tool
            </i>
          </span>
          <span class="text">Question Manager</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon poll">
            <i class="material-icons-outlined">
              ballot
            </i>
          </span>
          <span class="text">Active Poll</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon poll">
            <i class="icon-polling-manager"></i>
          </span>
          <span class="text">Poll Manager</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon curtain">
            <i class="material-icons-outlined">
              cloud_download
            </i>
          </span>
          <span class="text">Download</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon public">
            <i class="material-icons-outlined">forum</i>
          </span>
          <span class="text">Public Chat</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon video">
            <i class="material-icons-outlined">forum</i>
          </span>
          <span class="text">Notification</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon curtain">
            <i class="icon-curtain"></i>
          </span>
          <span class="text">eCurtain</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon refresh">
            <i class="material-icons-outlined lg">refresh</i>
          </span>
          <span class="text">Refresh</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        <a href="#">
          <span class="icon logout">
            <i class="material-icons">logout</i>
          </span>
          <span class="text">Logout</span>
        </a>
        {% else %}
        <a href="#">
          <span class="icon cancel">
            <i class="material-icons-outlined lg">cancel</i>
          </span>
          <span class="text">Exit</span>
        </a>
        {% endif %}
      </li>
      <li>
        {% if page_id == 'Home' %}
        {% else %}
        <a href="#">
          <span class="icon curtain">
            <i class="material-icons-outlined">
              forum
            </i>
          </span>
          <span class="text">Tech Support</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
{% endblock %}