{% set page_id = "Home" %}
{% extends "layout.html" %}

{% block extra_style %}

{% endblock %}
{% block content %}
	{% include "header.html" %}
	{% include "sidebar.html" %}
	<div class="wrapper">
		<div class="box-wrapper">
			<h2>Question 1</h2>
			<div class="monitor-wrapper">
				<div class="monitor-box">
					<h3>
						<span class="material-icons-outlined text-success">
							schedule
						</span>
						Timer
					</h3>
					<div class="value-text text-success">
						12:23:00
					</div>
				</div>
				<div class="monitor-box">
					<h3>
						<span class="material-icons-outlined text-primary">
							poll
						</span>
						Status
					</h3>
					<div class="value-text text-primary">
						Open Poll
					</div>
				</div>
				<div class="monitor-box">
					<h3>
						Respondent Rate
					</h3>
					<div class="value-text text-primary">
						64,3% [164/255]
					</div>
				</div>
			</div>
			<div class="action-wrapper mt-4 mb-4">
				<a href="#" class="btn btn-success btn-wide btn-sm">Open</a>
				<a href="#" class="btn btn-warning btn-wide btn-sm">Show Result</a>
				<a href="#" class="btn btn-primary btn-wide btn-sm">Close</a>
				<a href="#" class="btn btn-primary btn-wide btn-sm">Clear Data</a>
			</div>
			<h2>Live Polling Result</h2>
			<div class="result-wrapper">
				<div class="progress">
					<span>Answer 1 - 1 [0/0] - 80%</span>
					<div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="progress">
					<span>Answer 1 - 1 [0/0] - 20%</span>
					<div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="progress">
					<span>Answer 1 - 1 [0/0] - 10%</span>
					<div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="progress">
					<span>Answer 1 - 1 [0/0] - 0%</span>
					<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>

			<div class="seek-wrapper mt-5 js-seek">
				<div class="row">
					<div class="col-md-4">
						<div class="seek-box mover js-mover">
							<div class="seek-title">
								Seek Mover
							</div>
							<div class="seek-value">
								<div class="user-list seek">
									<ul>
										<li>
											<div class="avatar">
												<span class="material-icons-outlined">
													account_circle
													</span>
											</div>
											<div class="user-info">
												<h5>John Smith Moved motion</h5>
												<span>2021/April/9, 12:03:24</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="seek-box js-seconder">
							<div class="seek-title">
								Seek Seconder
							</div>
							<div class="seek-value">
								<div class="user-list seek">
									<ul>
										<li>
											<div class="avatar">
												<span class="material-icons-outlined">
													account_circle
													</span>
											</div>
											<div class="user-info">
												<h5>Jenny Seconded Motion</h5>
												<span>2021/April/9, 12:03:24</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="download-wrapper text-right mt-4">
							<a href="#" class="text-primary">
								<span class="material-icons-outlined mr-2">
									file_download
								</span>
								Download Cira data
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<a href="#" class="btn btn-primary text-uppercase reset-button js-reset">Reset Motion</a>
					</div>
				</div>
			</div>
			<div class="footer-wrapper d-flex justify-content-between align-items-center">
				<div>
					<a href="#" class="btn btn-primary">Previous Poll</a>
					<a href="#" class="btn btn-warning ml-3">Next Poll</a>
				</div>
				<a href="#" class="btn btn-primary text-uppercase">Exit Poll</a>
			</div>
		</div>
	</div>
{% endblock %}