<div class="sidebar">
  <div class="box-user">
    <div class="pict-wrapper">
      <div class="pict">
        <img src="./dist/images/pict.jpg" alt="pict">
      </div>
    </div>
    <div class="desc">
      <h5>Peter Matsumuto</h5>
      <span>Super User Admin</span>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="material-icons-outlined">
            settings
            </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
	<ul class="nav nav-tabs" id="sideTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#participants" type="button" role="tab" aria-controls="participants" aria-selected="true">Participants</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat" type="button" role="tab" aria-controls="chat" aria-selected="false">Chat</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="presents-tab" data-bs-toggle="tab" data-bs-target="#presents" type="button" role="tab" aria-controls="presents" aria-selected="false">Presents</button>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="participants" role="tabpanel" aria-labelledby="participants-tab">
			<div class="box-content">
				<div class="title">
					<h3>Participant <span class="badge bg-warning px-1 py-1 ml-2">20</span></h3>
				</div>
				<div class="user-list">
					<ul>
						<li>
							<div class="avatar">
								<span class="material-icons-outlined">
									account_circle
									</span>
							</div>
							<div class="user-info">
								<h5>Dwi Wibowo</h5>
								<span>Last Access Time: 2021/May/12, 3:18:27</span>
							</div>
						</li>
						<li>
							<div class="avatar">
								<span class="material-icons-outlined">
									account_circle
									</span>
							</div>
							<div class="user-info">
								<h5>Jhon Doe</h5>
								<span>Last Access Time: 2021/April/9, 12:03:24</span>
							</div>
						</li>
						<li>
							<div class="avatar">
								<span class="material-icons-outlined">
									account_circle
									</span>
							</div>
							<div class="user-info">
								<h5>Jenny Doel</h5>
								<span>Last Access Time: 2021/May/12, 3:18:27</span>
							</div>
						</li>
						<li>
							<div class="avatar">
								<span class="material-icons-outlined">
									account_circle
									</span>
							</div>
							<div class="user-info">
								<h5>Aleg Doyorv</h5>
								<span>Last Access Time: 2021/April/9, 12:03:24</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">...</div>
		<div class="tab-pane fade" id="presents" role="tabpanel" aria-labelledby="presents-tab">...</div>
	</div>
</div>