{% set page_id = "Speaker" %}
{% extends "layout.html" %}

{% block extra_style %}

{% endblock %}
{% block content %}
	{% include "header.html" %}
	<div class="wrapper">
		<div class="box-wrapper">
			<div class="row">
        <div class="col-lg-4">
          <h2>Play Now</h2>
          <div class="mt-4 mb-5">
            <img src="./dist/images/playnow2.png" alt="pict" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-8">
          <h2>Next Slide</h2>
          <div class="mt-4 mb-5">
            <img src="./dist/images/nextslide.png" alt="pict" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-12">
          <h2>Speaker</h2>
          <div class="speaker-wrapper">
            <div class="pict">
              <img src="./dist/images/pict.jpg" alt="pict">
            </div>
            <div class="desc">
              <h5>Peter Doe</h5>
              <span>COO Resolve Webcast</span>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
{% endblock %}