.header {
  width: 100%;
  min-height: 60px;
  background-color: $white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  padding: 10px 16px;
  display: flex;
  position: relative;
  z-index: 1;
  .logo {
    width: 300px;
    margin-right: 50px;
    img {
      max-width: 44%;
    }
    &.w-sm {
      width: 300px;
      @media (max-width: 1440px) {
        width: 120px;
      }
      img {
        max-width: 54%;
        @media (max-width: 1440px) {
          max-width: 100%;
        }
      }
    }
  }
  .menu {
    width: 100%;
    .menu-list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        display: inline-block;
        border: 1px solid $border-menu;
        position: relative;
        border-radius: 40px;
        vertical-align: top;
        margin-top: 0;
        margin-right: 4px;
        max-width: 130px;
        &.btn-wrapp {
          border-radius: 0;
          border: none;
          display: inline-flex;
          min-width: 151px;
          justify-content: flex-end;
          .btn {
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 10px;
            font-size: 14px;
            font-weight: 500;
            color: $white;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $black;
          text-decoration: none;
          padding: 2px 14px 2px 40px;
          display: flex;
          align-items: center;
          min-height: 36px;
          position: relative;
          .icon {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 3px;
            left: 2px;
            background-color: #dedede;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            &.present {
              background-color: $present;
            }
            &.video {
              background-color: $video;
            }
            &.question {
              background-color: $question;
            }
            &.poll {
              background-color: $poll;
            }
            &.public {
              background-color: $public;
            }
            &.curtain {
              background-color: $download;
            }
            &.logout {
              background-color: $logout;
            }
            &.refresh {
              background-color: $success;
            }
            &.cancel {
              background-color: $exit;
            }
            i {
              font-size: 16px;
              &.lg {
                font-size: 24px;
              }
            }
          }
          .text {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            line-height: 13px;
            font-weight: 500;
            @media(max-width: 1280px) {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}