
.progress {
  height: 28px;
  border-radius: 4px;
  position: relative;
  > span {
    position: absolute;
    top: 5px;
    left: 12px;
    color: $warning;
    font-weight: 400;
    font-size: 12px;
  }
}