.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  height: calc(100vh - 60px);
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.16);
  padding: 0 0;
  .box-user {
    padding: 10px 16px;
    border-bottom: 1px solid $border-menu;
    display: flex;
    align-items: center;
    .pict-wrapper {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      .pict {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
    .desc {
      width: 100%;
      h5 {
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        margin-bottom: 0;
        color: $black;
      }
      span {
        color: $grey-text;
        font-size: 14px;
        display: inline-block;
      }
      .dropdown {
        position: absolute;
        top: 15px;
        right: 20px;
        .btn {
          box-shadow: none;
          &.btn-secondary {
            padding: 0;
            background-color: transparent;
            color: $grey2;
            border: none;
            &:hover, &:focus {
              outline: 0 none !important;
              box-shadow: none;
            }
            > span {
              font-size: 24px;
            }
            &::after {
              display: none;
            }
          }
        }
        .dropdown-menu {
          left: inherit !important;
          right: 0 !important;
        }
      }
    }
  }
}