.nav-tabs {
  display: flex;
  border-bottom: 1px solid $border-menu;
  .nav-link {
    color: $grey-text;
    font-size: 14px;
    text-align: center;
    position: relative;
    border: none;
    margin-bottom: 0;
    width: 100%;
    &:hover {
      border: none;
    }
    &.active {
      border: none;
      color: $primary;
      font-weight: 500;
      &::after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: $primary;
        position: absolute;
        left: 50%;
        bottom: -2px;
        margin-left: -25px;
      }
    }
  }
  .nav-item {
    width: 33.333%;
    &.show {
      .nav-link {
        border: none;
        &:hover {
          border: none;
        }
      }
    }
    &:last-child {
      .nav-link {
        text-align: right;
        color: $black;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    .box-content {
      .title {
        padding: 15px 20px;
        background-color: $grey3;
        border-bottom: 1px solid $border-menu;
        h3 {
          font-weight: 400;
          text-transform: uppercase;
          font-size: 12px;
          color: $primary;
          margin: 0;
          line-height: 14px;
          .badge {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}