.main {
  .wrapper {
    padding: 24px 24px 24px 24px;
    height: calc(100vh - 60px);
    background-color: $grey;
    .box-wrapper {
      background-color: $white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
      padding: 24px 24px 70px 24px;
      width: 100%;
      height: 100%;
      position: relative;
      h2 {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 14px;
        font-weight: 500;
        color: $black;
      }
      .monitor-wrapper {
        .monitor-box {
          background-color: $grey;
          border-radius: 4px;
          border: 1px solid $border-menu;
          padding: 10px;
          width: 100%;
          max-width: 240px;
          height: 84px;
          display: inline-block;
          vertical-align: top;
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
          h3 {
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
            min-height: 20px;
            color: black;
            span {
              font-size: 24px;
               vertical-align: middle;
               margin-right: 8px;
            }
          }
          .value-text {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
      .action-wrapper {
        .btn {
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .result-wrapper {
        margin-bottom: 20px;
        .progress {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .footer-wrapper {
        width: 100%;
        padding: 0 24px;
        position: absolute;
        left: 0;
        bottom: 24px;
        .btn {
          margin-left: 20px;
          font-size: 14px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  &.has-sidebar {
    .wrapper {
      padding: 24px 24px 24px 324px;
    }
  }
}