@import "icomoon-variables.scss";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kupvxd');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kupvxd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?kupvxd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?kupvxd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?kupvxd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-manager {
  &:before {
    content: "\e91f"; 
  }
}
.icon-question-manager {
  &:before {
    content: "\e91a"; 
  }
}
.icon-polling-manager {
  &:before {
    content: "\e916"; 
  }
}
.icon-curtain {
  &:before {
    content:  "\e911"; 
  }
}